<h1><%= @user.name %></h1>

<p><%= link_to "View as JSON", user_path(@user, format: 'json') %></p>

<ul>
  <% @user.posts.each do |post| %>
    <%= render 'users/partial/post', post: post %>
  <% end %>
</ul>
