<main>
  <h2><%= link_to post.title, post_path(post) %></h2>

  <p>Posted by: <%= link_to post.user_name, user_path(post.user) %>, <%= time_ago_in_words post.created_at %> ago</p>
  <p><%= post.body %></p>
  <hr />
</main>
